<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Remix Icon Connection -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet">

    <!-- CSS Connection -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Page Title -->
    <title>PSI&#8482; | Home</title>
</head>
<body>
    <section>
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-slide"><img src="../Assets/psi_banner_1.png" alt=""></div><!-- Product 1 -->
                <div class="carousel-slide"><img src="../Assets/psi_banner_2.jpg" alt=""></div><!-- Product 2 -->
                <div class="carousel-slide"><img src="../Assets/psi_banner_3.jpg" alt=""></div><!-- Product 3 -->
                <div class="carousel-slide"><img src="../Assets/psi_banner_4.jpg" alt=""></div><!-- Product 4 -->
            </div>
        </div>
    </section>

    <!-- Javascript Connections Go Here -->
    <script src="./javascript/header.js"></script>
    <script src="../javascript/banner.js"></script>
    <script src="./javascript/preventdefault.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/51df57db33.js" crossorigin="anonymous"></script>
</body>
</html>