<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Remix Icon Connection -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet">

    <!-- CSS Connection -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Page Title -->
    <title>PSI&#8482; | Home</title>
</head>
<body>
    <!-- Tile Components Go Here -->
    <section>
        <div class="category-section">
            <div class="category">
                <img src="../Assets/apparel-hero.png" alt="PSI Apparel and Gear">
                <div class="category-content">
                    <h2>Apparel &amp; Gear</h2>
                    <a href="#">Shop Now</a>
                </div>
            </div>
            <div class="category">
                <img src="../Assets/supplement-hero.png" alt="PSI Supplements">
                <div class="category-content">
                    <h2>Supplements</h2>
                    <a href="#">Shop Now</a>
                </div>
            </div>
            <div class="category">
                <img src="../Assets/training-hero.jpg" alt="PSI Training Plans">
                <div class="category-content">
                    <h2>Training</h2>
                    <a href="#">Shop Now</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Javascript Connections Go Here -->
    <script src="./javascript/header.js"></script>
    <script src="../javascript/banner.js"></script>
    <script src="./javascript/preventdefault.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/51df57db33.js" crossorigin="anonymous"></script>
</body>
</html>